
  .navbar{
    display: flex;
    background-color: white;
    box-shadow: 0 7px 6px rgba(0, 0, 0, 0.25);
    width:auto;
    height: 90px;
    position: relative;
  }
 
  .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width:45vw;
  }

  .option{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
  }

  .option:hover{
    text-decoration: underline;
    font-size:22px; 
    color:#047E70;
    
  }

  .option-text{
    margin-right:10px;
    
  }

  .company-icon{
    height:55px;
    padding:20px;
    
  }
  .drop-icon{
    margin-top: 8px;
    width: 15px;
  }

  .bell-icon-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    padding:20px;
    
  }

  .bell-icon{
    width: 25;
    height: 20px;
    margin-right:60px;
    
  }