.header{
    position: fixed;
    top: 0;
    width: 100%;  
}

.page{
    display: flex;
    justify-content: flex-start;
    height:100vh;
    font-family:Arial, Helvetica, sans-serif;
}
